<!doctype html>
<head>
  {% block head %}
  <title>{% block title%}SmallURL{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  {% endblock %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43094703-2', 'smlurl.herokuapp.com');
  ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    {% block header %}
    <div class="page-header">
      <h1>SmallURL <small>An easy way to shorten your URLs</small></h1>
    </div>
    {% endblock %}
  {% block container %}
  {% endblock %}
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
